# [Mandatory] Mongo Config
RAJDS_CONTROL_PLANE_MONGO_HOSTS=localhost:27017
RAJDS_CONTROL_PLANE_MONGO_USERNAME=root
RAJDS_CONTROL_PLANE_MONGO_PASSWORD=

# [Mandatory] Certificate Config
RAJDS_CONTROL_PLANE_CA_CERTIFICATE_PATH=/Users/sirateek/.rajds/controlplane/ca/cert.pem
RAJDS_CONTROL_PLANE_CA_PRIVATE_KEY_PATH=/Users/sirateek/.rajds/controlplane/ca/key.pem
RAJDS_CONTROL_PLANE_CERTIFICATE_PATH=/Users/sirateek/.rajds/controlplane/transport/cert.pem
RAJDS_CONTROL_PLANE_CERTIFICATE_PRIVATE_KEY_PATH=/Users/sirateek/.rajds/controlplane/transport/key.pem
RAJDS_CLIENT_CERTIFICATE_STORAGE_PATH=/Users/sirateek/.rajds/controlplane/client-certificate